*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    background-color: antiquewhite;
}
.grid .col{
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}
.grid .col-content{
    background-color: brown;
    width: 100%;
    height: 100%;
}
@media (max-width:800px){
    .grid .col{
        width: 50%;
    }
    .grid .col-content{
        background-color: aquamarine;
    }
}